@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Inter&family=Open+Sans&family=Poppins&family=Work+Sans:wght@400;600;700&display=swap');

*{
    /* margin: 0;
    padding: 0; */
    font-family: 'Work Sans';
}

.header{
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    background-color:aliceblue;
}

.header-title{
    font-size: 45px;
    font-weight: 600;
    color: #111111;
}

.btn-sort{
    width: 200px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 5px;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #EB5757;
    border-radius: 8px;
    border: none;
    line-height: 23px;
    align-items: center;
    text-align: center;

}


.container{
    max-width: 1600px;
    margin: 30px auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    padding: 20px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 16px;
}
.card-image{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}


.card-title{
    font-weight: 600;
    font-size: 25px;
    color: #111111;
}

.hr{
    border: 1px solid rgba(17, 17, 17, 0.2);
}
ol{
    padding: 0px 20px;
}
li{
    color: #585858;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p img{
    margin-left: 10px;
}
.calendar-icon{
    padding-right: 10px;
}

.card-footer div h2{
    margin-right: 5px;
}

.details-btn{
    border-radius: 35px;
    background-color: #FEF7F7;
    color: #EB5757;
    border: none;
}


/*----------------------------- modal style ---------------------------*/

.modal-container{
    display: flex;
}

.modal-card{
    padding: 30px;
    margin: 40px;
    width: 487px;
    height: 511px;
    border: 2px solid black;
}
.card1{
    background-color: #FEF6F6;
}

.modal-card h3{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
}

.cost-plan-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cost-box{
    padding: 22px;
    width: 132px;
    height: 100px;
    color: #03A30A;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.other-info{
    display: flex;
    justify-content: space-around;
}

ul li{
    color: #585858;
    line-height: 26px;
}

.modal-card p{
    color: #585858;
}